/* Go to https://fonts.google.com/ to select a different font and follow the instructions there  */
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

/* Theme variables */
:root {
  --font-family: "Rubik", sans-serif;
  --accent-color: #2ec4b6;
  --link-color: #a8201a;
  --text-color: #222;
  --background-color: #fdfffc;
  --border-radius: 6px;
}

/* CSS Resets */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

/* Basic styles */
html {
  height: 100%;
}

body {
  font-family: var(--font-family);
  font-optical-sizing: auto;
  height: 100%;
}

main {
  display: flex;
  height: 100%;
}

.content {
  width: 100%;
  max-width: 40rem;
  padding: 3rem 2rem;
}

.feature-image {
  position: fixed;
  height: 100%;
}

.feature-image img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.feature-image small {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 0.5rem;
  background-color: var(--background-color);
  border-start-start-radius: var(--border-radius);
}

@media screen and (max-aspect-ratio: 1 / 1) {
  .content {
    margin-inline: auto;
  }

  .feature-image {
    z-index: -1;
    width: 100%;
  }

  .feature-image img {
    opacity: 0.3;
  }
}

@media screen and (min-aspect-ratio: 1 / 1) {
  .feature-image {
    right: 0;
    width: calc(100vw - 40rem);
  }
}

h1 {
  font-size: 3rem;
  font-weight: 450;
  margin-block-end: 2rem;
  text-align: center;
}

h2 {
  margin-block-start: 2rem;
  margin-block-end: 1rem;
}

p {
  margin-block-end: 1rem;
  line-height: 1.39;
}

a {
  color: var(--link-color);
}

input {
  padding: 0.5rem 0.75rem;
  border-radius: var(--border-radius);
  border: 1px solid var(--accent-color);
  display: block;
  width: 100%;
}

label {
  display: block;
  margin-block-end: 0.5rem;
}

button {
  background-color: var(--accent-color);
  border: 0;
  border-radius: var(--border-radius);
  padding: 0.5rem 0.75rem;
  font-size: 1.25rem;
  cursor: pointer;
  margin-block-start: 1.5rem;
  margin-inline: auto;
  display: block;
  transition: color 200ms ease-in-out, background-color 200ms ease-in-out;
}

button:hover,
button:focus {
  color: var(--background-color);
  background-color: color-mix(in lch, var(--accent-color) 90%, black);
}

form {
  width: 100%;
}

.input-wrapper {
  width: 100%;
  margin-block-end: 1rem;
}

.input-wrapper:has(:required) label::after {
  content: "*";
  color: red;
  font-size: smaller;
  vertical-align: super;
}
